<h1>lines#new page</h1>

<% if @haiku.lines.last.errors.any? %>
  <div class="error_messages">
    <ul>
      <% for error_message in @haiku.lines.last.errors.full_messages %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% @haiku.lines.each do |line| %>
  <li><%= line.content %></li>
<% end %>

<% if @count < 3 %>
  <%= form_for @line, url: haiku_lines_path do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content, class: 'u-full-width', placeholder: "Line #{@count.next}" %>
    <%= f.submit "Create Line", class: 'button-primary' %>
  <% end %>
<% end %>
