<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h5>Form is invalid</h5>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <h5>Update Password</h5>
  <p>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </p>
  <p>
    <%= f.label :new_password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_new_password %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p><%= f.submit "Update Profile", class: "button-primary" %></p>
<% end %>
