<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h5>Form is invalid</h5>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <% if @user.id %>
    <p>
      <%= f.label :current_password %>
      <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %>
    </p>
  <% end %>
  <p><%= f.submit @user.id ? "Update Profile" : "Sign up", class: "button-primary" %></p>
<% end %>
